<% @MyEvent.each do |myevent|%>
		
		<div class="three columns event_div" >
			<%= myevent.event_date.strftime("%B %d %Y") %>
		</div>
		<div class="five columns event_div">
			<%= link_to myevent.name, myevent%>  
		</div>
		<div class="three columns event_div">
			<%#= link_to '===', edit_event_path(myevent) %> 
		</div>
		
			<div class=" pag_dev columns digg_pagination"> 
		
		</div>
	<% end %>
	<%= paginate @MyEvent %>