<div class="twelve columns white_bg ">

<h3>MY ACCOUNT</h3>

<ul class="tabs">
  <!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
  <li><a href="#news" class= 'active'>News</a></li>
  <li><%=link_to 'Active Events', '#new', :class => '',:id =>'active',:remote => 'true' %></li>
  <li><%=link_to 'Past Events', '#old', :class => '',:id =>'past',:remote => 'true' %></li>
  
</ul>


<ul class="tabs-content">
	<li id="news" class="active">Welcome to new Goinglubing.com </li>

	<li class="" id="new">
		<div id="active_event"></div>
	</li>
	<li  class="" id="old">
		<div id="past_event"></div>
	</li>
</ul>
</div>
