// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
//. You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  height: 104px;
  margin:0;
  background: #000;
  padding: 15px 0 0 10px;
  
  
  }
.header h1{
  background: url('gc_logo.gif') no-repeat;
  text-indent: -9999px;
  height: 85px;

  
}
.nav {
  list-style: none;
  background: #fff url('nav_bg.gif')repeat-x;
  padding: 0 0 5px 10px;
  height: 34px;
  margin: 0 0 5px 0;
  line-height: 34px;
}

.nav li a{
  color: #fff;
  text-decoration: none;
}

.nav li a:hover{
  color:#ccc;
  text-decoration: underline;
}

.nav li {
  display: inline;
  margin-right: 10px;
  
}
.event_display{
  height: 80px;
  margin: 0 0 8px 0 ;
  }
