/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body{
	background: url(outlets.png) repeat;
}
.container{
	background: url('bg.png')repeat;
	margin: 10px 0;
	
}
.container .twelve{
  margin-left: 0;
  padding-right: 10px;
}
.white_bg h3{
	margin: 20px 0 0 10px;
}
.ContentHolder .four, .sidbar .four{
	text-align:center;
	padding: 5px 0;
	margin:  10px 10px 0 0;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	background: #fff;
} 
.sidbar .four{
	text-align: left;
	padding-left: 5px;
	margin: 0 0 4px 0 ;
}
.date_strip{
	border-bottom: 1px solid #ccc;
	margin: 5px 0;
}

.ContentHolder .twelve{
	margin-left: 10px;

	
}
.footer{
	background: #000;
	height: auto;
	margin: 0;
}
.footer .sixteen{
	margin: 10px 5px 0;
}
.banner{
	background: #FFFF00;
}
/*.white_bg{
	background: #fff;
	
	
	
}*/
.event_div{
	height: 30px;
	border-bottom: 1px solid #ddd;
}
 .layout_bg {
	background: #fff;
	
}
.header{
  height: 104px;
  margin:0;
  background: #000;
  padding: 15px 0 0 10px;
  
  
  }
.header h1{
  background: url('gc_logo.gif') no-repeat;
  text-indent: -9999px;
  height: 85px;

  
}
.nav {
  list-style: none;
  background: #111111 ;
  border-top:#222222 1px solid;
  padding: 0 0 5px 25px;
  height: 34px;
  margin: 0 0 5px 0;
  line-height: 34px;
}

.nav li a{
  color: #ddd;
  text-decoration: none;
}

.nav li a:hover{
  color:#ccc;
  text-decoration: underline;
}
.footer li a{
  color: #999;
  text-decoration: none;
}

.footer li a:hover{
  color:#ccc;
  text-decoration: underline;
}
.nav li {
  display: inline;
  margin-right: 10px;
  
}
.event_display{
  height: 80px;
  margin: 0 0 8px 0 ;
  }
/* #error and notice
 * ===========================================
 */

.flash {
	padding: 0 10px 0 5px;
}
.error {
    
    background: #ffc0cb;
    color: #B8860B;
}

.notice, .info {
    
background-color:#FCF8E3;
  border-bottom-color:#FBEED5;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-image:initial;
  border-left-color:#FBEED5;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#FBEED5;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#FBEED5;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-top-style:solid;
  border-top-width:1px;
  color:#C09853;
  margin-bottom:18px;
  padding-bottom:8px;
  padding-left:14px;
  padding-right:35px;
  padding-top:8px;
  text-shadow:rgba(255, 255, 255, 0.496094) 0 1px 0;
   margin: 5px 0;
}

.warning {
    border: thin solid #b8860b;
    background: #ff0;
}

.sidbar{
	height: 100%;
}
/*ads 
===========================*/
.sidbar .ads  {
    background: none repeat scroll 0 0 #E1E1E1 !important;
    border: 1px solid #B3B3B3 !important;
    color: #555555 !important;
    font-size: 12px;
    text-align: center;
    height: 220px;
    line-height: 220px;
}

#sidbar .ads a {
    display: block;
    float: left;
    font-family: verdana,sans-serif;
    font-weight: normal;
    margin: 0 0 10px 10px;
    overflow: hidden;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 1px 0 #FFFFFF;
    
}
/* #Pagination
================================================== */
.pag_dev{
	margin: 20px 0;
}
.digg_pagination {
	background: #fff;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/